.background-icon14,
.bg16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
}
.bg16 {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 926px;
  height: 62px;
}
.background-icon14 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text104 {
  position: absolute;
  top: 11px;
  left: 10px;
}
.iconcontrolexpand-more8 {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 24px;
  height: 24px;
}
.formselectbox-done {
  position: absolute;
  top: 11px;
  left: 658px;
  width: 172px;
  height: 40px;
}
.mobile-accessory {
  font-weight: 600;
}
.rectangle,
.text105 {
  position: absolute;
  top: 23px;
  left: 20px;
}
.rectangle {
  top: 2px;
  left: 1px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.form-selection-checkbox-of {
  position: relative;
  width: 34px;
  height: 24px;
}
.hint-text {
  position: relative;
}
.formchecklabel {
  position: absolute;
  top: 14px;
  left: 513px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.btn-group-icon1,
.content-top {
  position: absolute;
  top: 11px;
  left: 840px;
  width: 76px;
  height: 40px;
}
.content-top {
  top: 206px;
  left: 384px;
  width: 926px;
  height: 62px;
  color: var(--dark);
}
.bg-icon28 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.border2,
.layoutnavbar-alibaba-item {
  position: absolute;
  height: 1.79%;
  width: 100.07%;
  top: 99.11%;
  right: -0.03%;
  bottom: -0.89%;
  left: -0.03%;
  border-top: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.border2 {
  top: -0.89%;
  bottom: 99.11%;
}
.de2x-icon3,
.fitness2 {
  position: absolute;
  left: 0;
}
.fitness2 {
  top: 8.33%;
  line-height: 22px;
  font-weight: 500;
}
.de2x-icon3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imageflagsicon5 {
  position: absolute;
  height: 66.67%;
  width: 19.13%;
  top: 20.83%;
  right: 28.7%;
  bottom: 12.5%;
  left: 52.17%;
}
.iconcontrolexpand-more9 {
  position: absolute;
  height: 100%;
  width: 20.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ship-to1 {
  position: absolute;
  height: 42.86%;
  width: 7.99%;
  top: 28.57%;
  right: 8.89%;
  bottom: 28.57%;
  left: 83.13%;
}
.iconcontrolexpand-more10 {
  position: absolute;
  height: 100%;
  width: 19.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment1 {
  position: absolute;
  height: 42.86%;
  width: 8.61%;
  top: 28.57%;
  right: 19.1%;
  bottom: 28.57%;
  left: 72.29%;
}
.iconcontrolexpand-more11 {
  position: absolute;
  height: 100%;
  width: 39.34%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav6 {
  position: absolute;
  top: 4.17%;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.dropdown1 {
  position: absolute;
  height: 100%;
  width: 9.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90.16%;
}
.nav10,
.nav11,
.nav7,
.nav8,
.nav9 {
  position: absolute;
  top: 4.17%;
  left: 72.58%;
  line-height: 22px;
  font-weight: 500;
}
.nav10,
.nav11,
.nav8,
.nav9 {
  left: 57.9%;
}
.nav10,
.nav11,
.nav9 {
  left: 40.65%;
}
.nav10,
.nav11 {
  left: 23.71%;
}
.nav11 {
  left: 4.84%;
}
.iconcontrolmenu1 {
  position: absolute;
  height: 100%;
  width: 3.87%;
  top: 0;
  right: 96.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav-list1 {
  position: absolute;
  height: 42.86%;
  width: 43.06%;
  top: 28.57%;
  right: 47.92%;
  bottom: 28.57%;
  left: 9.03%;
}
.layoutnavbar-alibaba1 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1440px;
  height: 56px;
  color: var(--dark);
}
.vector-icon8 {
  position: relative;
  width: 21.01px;
  height: 21px;
}
.my-cart2 {
  position: absolute;
  top: 63.41%;
  left: 0;
}
.cart3,
.vector-icon9 {
  position: absolute;
  height: 100%;
  width: 19.3%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.7%;
}
.vector-icon9 {
  height: 44.12%;
  width: 51.3%;
  right: 23.07%;
  bottom: 55.88%;
  left: 25.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.orders4,
.orders5 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.orders4 {
  height: 97.56%;
  width: 17.11%;
  top: 2.44%;
  right: 27.19%;
  bottom: 0;
  left: 55.7%;
}
.vector-icon10 {
  position: relative;
  width: 20px;
  height: 20px;
}
.message4 {
  position: absolute;
  height: 97.56%;
  width: 22.81%;
  top: 2.44%;
  right: 50.88%;
  bottom: 0;
  left: 26.32%;
}
.vector-icon11 {
  position: relative;
  width: 20px;
  height: 19px;
}
.actions6,
.profile4 {
  position: absolute;
  height: 100%;
  width: 16.23%;
  top: 0;
  right: 83.77%;
  bottom: 0;
  left: 0;
}
.actions6 {
  height: 47.67%;
  width: 15.83%;
  top: 29.07%;
  right: 9.17%;
  bottom: 23.26%;
  left: 75%;
  text-align: center;
}
.search-form-inner {
  position: absolute;
  height: 105%;
  width: 100.3%;
  top: -2.5%;
  right: -0.15%;
  bottom: -2.5%;
  left: -0.15%;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--primary);
  box-sizing: border-box;
}
.text106 {
  position: absolute;
  width: calc(100% - 15px);
  top: 11px;
  left: 10px;
  display: inline-block;
}
.iconcontrolexpand-more12 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
}
.forminput-groupinput-midle2 {
  position: absolute;
  height: 100%;
  width: 21.8%;
  top: 0;
  right: 15.04%;
  bottom: 0;
  left: 63.16%;
}
.icon05 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  display: none;
}
.forminput-groupinput-left3 {
  position: absolute;
  height: 100%;
  width: 63.31%;
  top: 0;
  right: 36.69%;
  bottom: 0;
  left: 0;
  color: var(--gray-500);
}
.text108 {
  position: relative;
  font-weight: 500;
}
.buttonbasetext-md17 {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 9px);
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonbtn-group3 {
  position: absolute;
  height: 100%;
  width: 15.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.96%;
  text-align: center;
  color: var(--white);
}
.search-form2 {
  position: absolute;
  height: 46.51%;
  width: 46.18%;
  top: 25.58%;
  right: 31.18%;
  bottom: 27.91%;
  left: 22.64%;
  font-size: var(--text-normal-size);
  color: var(--dark);
}
.brandlogo-colored-icon4 {
  position: absolute;
  height: 53.49%;
  width: 10.49%;
  top: 23.26%;
  right: 80.56%;
  bottom: 23.26%;
  left: 8.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopez4 {
  position: absolute;
  top: 33.72%;
  left: 12.01%;
  font-size: var(--title-h3-size);
  color: var(--color-black);
}
.layoutheader-alibaba2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 86px;
  font-size: var(--font-size-xs);
  color: var(--gray-500);
}
.bg-icon30,
.miscrating-icon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bg-icon30 {
  height: 100.25%;
  width: 100.34%;
  top: -0.12%;
  right: -0.17%;
  bottom: -0.12%;
  left: -0.17%;
  border-radius: var(--br-7xs);
}
.miscrating-icon7 {
  height: 78.95%;
  width: 74.07%;
  top: 5.26%;
  right: 25.93%;
  bottom: 15.79%;
  left: 0;
}
.bell-ross27,
.rating1 {
  position: absolute;
  top: 0;
  left: 79.63%;
}
.rating1 {
  height: 4.69%;
  width: 36.61%;
  top: 76.54%;
  right: 56.61%;
  bottom: 18.77%;
  left: 6.78%;
}
.buttonbtn-basic-icon3 {
  position: absolute;
  height: 10.86%;
  width: 14.92%;
  top: 68.89%;
  right: 6.1%;
  bottom: 20.25%;
  left: 78.98%;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.border3 {
  position: absolute;
  height: 0.25%;
  width: 100.34%;
  top: 64.32%;
  right: -0.17%;
  bottom: 35.43%;
  left: -0.17%;
  border-top: 1px solid var(--gray-200);
  box-sizing: border-box;
}
.image-33-icon1,
.imagetech11 {
  position: absolute;
  overflow: hidden;
}
.image-33-icon1 {
  height: 88%;
  width: 88%;
  top: 5.78%;
  right: 5.78%;
  bottom: 6.22%;
  left: 6.22%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imagetech11 {
  height: 56.79%;
  width: 77.97%;
  top: 3.7%;
  right: 10.85%;
  bottom: 39.51%;
  left: 11.19%;
  background-color: var(--white);
}
.bell-ross28 {
  width: 72.88%;
  top: 83.7%;
  left: 6.78%;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: var(--base-color-gray-800);
  display: inline-block;
}
.bell-ross28,
.div29,
.text109 {
  position: absolute;
}
.div29 {
  top: 0;
  left: 0;
  font-weight: 600;
}
.text109 {
  top: 17.39%;
  left: 50.71%;
  font-size: var(--text-normal-size);
  text-decoration: line-through;
  color: var(--gray-500);
}
.container {
  position: absolute;
  height: 5.68%;
  width: 47.46%;
  top: 68.64%;
  right: 45.76%;
  bottom: 25.68%;
  left: 6.78%;
  font-size: var(--text-btn-btn-large-size);
  color: var(--dark);
}
.image-32-icon3,
.layoutproduct-card-13 {
  position: absolute;
  top: 340px;
  left: 384px;
  width: 295px;
  height: 405px;
}
.image-32-icon3 {
  height: 86.22%;
  width: 86.22%;
  top: 6.67%;
  right: 7.11%;
  bottom: 7.11%;
  left: 6.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-34-icon4,
.layoutproduct-card-131 {
  position: absolute;
  top: 765px;
  left: 384px;
  width: 295px;
  height: 405px;
}
.image-34-icon4 {
  height: 71.11%;
  width: 90.22%;
  top: 14.67%;
  right: 4.89%;
  bottom: 14.22%;
  left: 4.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagetech73 {
  position: absolute;
  height: 56.79%;
  width: 77.97%;
  top: 3.7%;
  right: 10.85%;
  bottom: 39.51%;
  left: 11.19%;
  background-color: var(--white);
}
.layoutproduct-card-132 {
  position: absolute;
  top: 1190px;
  left: 384px;
  width: 295px;
  height: 405px;
}
.miscrating-icon10 {
  position: absolute;
  height: 78.95%;
  width: 72.73%;
  top: 5.26%;
  right: 27.27%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bell-ross33 {
  position: absolute;
  top: 0;
  left: 78.18%;
}
.image-22-icon2,
.rating4 {
  position: absolute;
  height: 4.69%;
  width: 37.29%;
  top: 76.54%;
  right: 55.93%;
  bottom: 18.77%;
  left: 6.78%;
}
.image-22-icon2 {
  height: 88%;
  width: 92.89%;
  top: 7.11%;
  right: 3.56%;
  bottom: 4.89%;
  left: 3.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-28-icon,
.layoutproduct-card-133 {
  position: absolute;
  top: 340px;
  left: 699px;
  width: 295px;
  height: 405px;
}
.image-28-icon {
  height: 65.33%;
  width: 92.44%;
  top: 17.33%;
  right: 3.56%;
  bottom: 17.33%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-35-icon5,
.layoutproduct-card-134 {
  position: absolute;
  top: 765px;
  left: 699px;
  width: 295px;
  height: 405px;
}
.image-35-icon5 {
  height: 86.67%;
  width: 72.44%;
  top: 6.67%;
  right: 13.78%;
  bottom: 6.67%;
  left: 13.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-23-icon3,
.layoutproduct-card-135 {
  position: absolute;
  top: 1190px;
  left: 699px;
  width: 295px;
  height: 405px;
}
.image-23-icon3 {
  height: 89.33%;
  width: 89.33%;
  top: 5.33%;
  right: 5.33%;
  bottom: 5.33%;
  left: 5.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text115 {
  position: absolute;
  top: 18.18%;
  left: 112.7%;
  font-size: var(--text-normal-size);
  text-decoration: line-through;
  color: var(--gray-500);
  display: none;
}
.parent6 {
  position: absolute;
  height: 5.43%;
  width: 21.36%;
  top: 68.64%;
  right: 71.86%;
  bottom: 25.93%;
  left: 6.78%;
  font-size: var(--text-btn-btn-large-size);
  color: var(--dark);
}
.layoutproduct-card-136,
.layoutproduct-card-137,
.layoutproduct-card-138 {
  position: absolute;
  top: 340px;
  left: 1014px;
  width: 295px;
  height: 405px;
}
.layoutproduct-card-137,
.layoutproduct-card-138 {
  top: 765px;
}
.layoutproduct-card-138 {
  top: 1190px;
}
.formselectbox-done1 {
  position: absolute;
  top: 1625px;
  left: 959px;
  width: 125px;
  height: 40px;
  color: var(--dark);
}
.buttonbtn-group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 40px;
}
.buttonbtn-group-icon1,
.buttonbtn-group4,
.buttonbtn-group5 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group4,
.buttonbtn-group5 {
  left: 87px;
}
.buttonbtn-group5 {
  left: 44px;
  color: var(--gray-500);
}
.buttonbtn-group-parent,
.buttonbtn-group6 {
  position: absolute;
  top: 0;
  left: 130px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group-parent {
  top: 1625px;
  left: 1093px;
  width: 217px;
  text-align: center;
  color: var(--dark);
}
.bg17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
}
.icon06,
.iconemail {
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
}
.icon06 {
  right: 9px;
  display: none;
}
.iconemail {
  left: 8px;
}
.text122 {
  position: absolute;
  width: calc(100% - 104px);
  top: 11px;
  left: 36px;
  display: inline-block;
}
.formiconinput2 {
  position: absolute;
  height: 100%;
  width: 69.9%;
  top: 0;
  right: 30.1%;
  bottom: 0;
  left: 0;
}
.buttonbasetext-md21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic31,
.form {
  position: absolute;
  bottom: 0;
}
.buttonbtn-basic31 {
  height: 100%;
  width: 28.06%;
  top: 0;
  right: 0;
  left: 71.94%;
  border-radius: var(--br-7xs);
  background: linear-gradient(180deg, #127fff, #0067ff);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}
.form {
  height: 35.4%;
  width: 63.53%;
  top: 64.6%;
  right: 18.15%;
  left: 18.31%;
}
.bell-ross45,
.subscribe-on-our {
  position: absolute;
  letter-spacing: -0.2px;
}
.bell-ross45 {
  width: 100%;
  top: 53.85%;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.subscribe-on-our {
  top: 0;
  left: 28.2%;
  font-size: var(--title-h4-size);
  line-height: 28px;
  font-weight: 600;
  color: var(--dark);
}
.text124 {
  position: absolute;
  height: 46.02%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 53.98%;
  left: 0;
  text-align: center;
  color: var(--base-color-gray-800);
}
.text-form {
  position: absolute;
  height: 59.47%;
  width: 42.85%;
  top: 20%;
  right: 28.54%;
  bottom: 20.53%;
  left: 28.61%;
}
.layoutnewsletter-alibaba {
  position: absolute;
  top: 1832px;
  left: 0;
  width: 1440px;
  height: 190px;
  color: var(--gray-500);
}
.for-users2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark);
}
.login2,
.my-orders2,
.register2,
.settings2 {
  position: absolute;
  top: 23.36%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.my-orders2,
.register2,
.settings2 {
  top: 43.07%;
}
.my-orders2,
.settings2 {
  top: 62.77%;
}
.my-orders2 {
  top: 82.48%;
}
.col10 {
  position: absolute;
  height: 42.28%;
  width: 5.42%;
  top: 12.35%;
  right: 27.64%;
  bottom: 45.37%;
  left: 66.94%;
}
.brandlogo-colored-icon5 {
  position: absolute;
  height: 29.3%;
  width: 54.71%;
  top: 0;
  right: 45.65%;
  bottom: 70.7%;
  left: -0.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.best-information-about2,
.shopez5 {
  position: absolute;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.best-information-about2 {
  width: 100%;
  top: 38.85%;
  left: 0;
  display: inline-block;
}
.shopez5 {
  top: 13px;
  left: 46px;
  color: var(--color-black);
}
.group-child14 {
  position: absolute;
  height: 20.38%;
  width: 72.46%;
  top: 79.62%;
  right: 27.54%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brandlogo-colored-container {
  position: absolute;
  height: 48.46%;
  width: 19.17%;
  top: 12.35%;
  right: 71.88%;
  bottom: 39.2%;
  left: 8.96%;
  color: var(--gray-600);
}
.group-child15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
}
.imageflagsicon6 {
  position: absolute;
  height: 70.83%;
  width: 22.43%;
  top: 12.5%;
  right: 77.57%;
  bottom: 16.67%;
  left: 0;
}
.english2 {
  position: absolute;
  top: 0;
  left: 28.04%;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.iconcontrolexpand-less2,
.imageflagsicon-container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.iconcontrolexpand-less2 {
  width: 22.43%;
  left: 77.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imageflagsicon-container {
  width: 9.1%;
  left: 90.9%;
}
.ecommerce2 {
  position: absolute;
  width: 27.21%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.payment-method-language2 {
  position: absolute;
  height: 35.29%;
  width: 81.67%;
  top: 33.82%;
  right: 9.44%;
  bottom: 30.88%;
  left: 8.89%;
}
.background4,
.rectangle-parent11 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent11 {
  height: 20.99%;
  top: 79.01%;
  text-align: right;
  color: var(--base-color-gray-800);
}
.background4 {
  height: 100%;
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--dark);
}
.subtract-icon2 {
  position: absolute;
  height: 60.34%;
  width: 82.18%;
  top: 20.69%;
  right: 9%;
  bottom: 18.97%;
  left: 8.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group4,
.logo-icon2,
.miscmarket-button4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo-icon2,
.miscmarket-button4 {
  height: 32.56%;
  top: 28.68%;
  bottom: 38.76%;
}
.logo-icon2 {
  height: 58.62%;
  width: 82.77%;
  top: 20.69%;
  right: 8.41%;
  bottom: 20.69%;
  left: 8.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.miscmarket-button5 {
  position: absolute;
  height: 32.56%;
  width: 100%;
  top: 67.44%;
  right: 0;
  bottom: 0;
  left: 0;
}
.get-app2 {
  position: absolute;
  top: 0;
  left: 0.81%;
  line-height: 22px;
  font-weight: 500;
}
.col11 {
  position: absolute;
  height: 39.81%;
  width: 8.61%;
  top: 12.35%;
  right: 12.99%;
  bottom: 47.84%;
  left: 78.4%;
  color: var(--dark);
}
.col12,
.col13,
.col14 {
  position: absolute;
  height: 42.28%;
  width: 7.5%;
  top: 12.35%;
  right: 39.38%;
  bottom: 45.37%;
  left: 53.13%;
}
.col13,
.col14 {
  width: 6.25%;
  right: 51.32%;
  left: 42.43%;
}
.col14 {
  width: 5.63%;
  right: 62.01%;
  left: 32.36%;
}
.layoutfooter-alibaba2 {
  position: absolute;
  top: 2022px;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 324px;
  color: var(--gray-500);
}
.formbasetag3,
.formbasetag4,
.formbasetag5,
.formbasetag6,
.formbasetag7,
.formbasetag8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.formbasetag4,
.formbasetag5,
.formbasetag6,
.formbasetag7,
.formbasetag8 {
  left: 123px;
}
.formbasetag5,
.formbasetag6,
.formbasetag7,
.formbasetag8 {
  left: 220px;
}
.formbasetag6,
.formbasetag7,
.formbasetag8 {
  left: 312px;
}
.formbasetag7,
.formbasetag8 {
  left: 424px;
}
.formbasetag8 {
  left: 521px;
}
.clear-all-filter,
.filters-applied {
  position: absolute;
  top: 7px;
  left: 628px;
  color: var(--primary);
}
.filters-applied {
  top: 288px;
  left: 386px;
  width: 728px;
  height: 32px;
  color: var(--gray-600);
}
.text131 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  font-weight: 600;
}
.iconcontrolexpand-more14 {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 24px;
  height: 24px;
}
.layoutcollablse-heading {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 230px;
  height: 48px;
}
.layoutcollablse-heading-wrapper {
  position: absolute;
  top: 865px;
  left: 2px;
  width: 230px;
  height: 48px;
}
.layoutcollablse-heading-container,
.layoutcollablse-heading-frame {
  position: absolute;
  top: 914px;
  left: 2px;
  width: 230px;
  height: 48px;
}
.layoutcollablse-heading-frame {
  top: 963px;
}
.text135 {
  position: absolute;
  width: calc(100% - 11px);
  top: calc(50% - 9px);
  left: 0;
  display: inline-block;
}
.layoutnav-item {
  position: absolute;
  top: 180px;
  left: 0;
  width: 229px;
  height: 36px;
  color: var(--primary);
}
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}
.check,
.path-icon {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 9px;
}
.check {
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
}
.formchecklabel1,
.formchecklabel2,
.formchecklabel3,
.formchecklabel4,
.formchecklabel5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 114.5px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.formchecklabel2,
.formchecklabel3,
.formchecklabel4,
.formchecklabel5 {
  top: 72px;
  width: 101.14px;
}
.formchecklabel3,
.formchecklabel4,
.formchecklabel5 {
  top: 36px;
  width: 89.69px;
}
.formchecklabel4,
.formchecklabel5 {
  top: 108px;
  width: 93.51px;
}
.formchecklabel5 {
  top: 144px;
  width: 101.14px;
}
.layoutnav-item-parent {
  position: absolute;
  top: 48px;
  left: 1px;
  width: 229px;
  height: 216px;
}
.layoutcollablse-heading-parent,
.layoutnav-item1 {
  position: absolute;
  top: 248px;
  left: 0;
  width: 230px;
  height: 264px;
}
.layoutnav-item1 {
  top: 180px;
  width: 228px;
  height: 36px;
  color: var(--primary);
}
.formchecklabel10,
.formchecklabel6,
.formchecklabel7,
.formchecklabel8,
.formchecklabel9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 103.55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.formchecklabel10,
.formchecklabel7,
.formchecklabel8,
.formchecklabel9 {
  top: 72px;
  width: 114px;
}
.formchecklabel10,
.formchecklabel8,
.formchecklabel9 {
  top: 36px;
  width: 139.65px;
}
.formchecklabel10,
.formchecklabel9 {
  top: 108px;
  width: 138.7px;
}
.formchecklabel10 {
  top: 144px;
  width: 152px;
}
.layoutnav-item-group {
  position: absolute;
  top: 48px;
  left: 0;
  width: 228px;
  height: 216px;
}
.layoutcollablse-heading-group,
.layoutcollablse-heading-wrapper1 {
  position: absolute;
  top: 532px;
  left: 2px;
  width: 230px;
  height: 264px;
}
.layoutcollablse-heading-wrapper1 {
  top: 816px;
  height: 48px;
}
.layoutnav-item2,
.layoutnav-item3 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 240px;
  height: 36px;
  color: var(--gray-600);
}
.layoutnav-item3 {
  top: 120px;
  width: 230px;
}
.layoutnav-item4,
.layoutnav-item5,
.layoutnav-item6,
.sidebar {
  position: absolute;
  top: 192px;
  left: 0;
  width: 230px;
  height: 36px;
  color: var(--primary);
}
.layoutnav-item5,
.layoutnav-item6,
.sidebar {
  top: 84px;
  color: var(--gray-600);
}
.layoutnav-item6,
.sidebar {
  top: 156px;
}
.sidebar {
  top: 207px;
  left: 132px;
  width: 240px;
  height: 1011px;
  color: var(--dark);
}
.clothings1,
.home1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.clothings1 {
  left: 71px;
}
.iconcontrolchevron-right4 {
  position: absolute;
  top: 2px;
  left: 45px;
  width: 20px;
  height: 20px;
}
.iconcontrolchevron-right5,
.iconcontrolchevron-right6 {
  position: absolute;
  top: 2px;
  left: 145px;
  width: 20px;
  height: 20px;
}
.iconcontrolchevron-right6 {
  left: 259px;
}
.mens-wear1,
.summer-clothing1 {
  position: absolute;
  top: 0;
  left: 171px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.summer-clothing1 {
  left: 286px;
}
.breadcrumb1,
.breadcrumb2,
.nav-breadcrumb1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 411px;
  height: 24px;
}
.breadcrumb1,
.breadcrumb2 {
  top: 20px;
  left: 133px;
}
.breadcrumb1 {
  top: 142px;
  left: 0;
  width: 1440px;
  height: 64px;
  overflow: hidden;
  color: var(--gray-500);
}
.web-gridview {
  position: relative;
  background-color: var(--gray-100);
  width: 100%;
  height: 2346px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-normal-size);
  color: var(--base-color-orange);
  font-family: var(--text-normal);
}
