.bg-icon59,
.buttonbtn-basic-icon12 {
  position: absolute;
  height: 100.43%;
  width: 100.11%;
  top: -0.22%;
  right: -0.05%;
  bottom: -0.22%;
  left: -0.05%;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buttonbtn-basic-icon12 {
  height: 19.13%;
  width: 4.78%;
  top: 8.26%;
  right: 1.96%;
  bottom: 72.61%;
  left: 93.26%;
}
.tempor-incididunt-ut {
  margin: 0;
}
.the-largest-apple-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.link60 {
  position: absolute;
  top: 74.67%;
  left: 0;
  font-weight: 500;
  color: var(--primary);
}
.description6,
.title34 {
  position: absolute;
  left: 24.89%;
}
.description6 {
  height: 32.61%;
  width: 65.98%;
  top: 53.91%;
  right: 9.13%;
  bottom: 13.48%;
  color: var(--gray-600);
}
.title34 {
  width: 42.93%;
  top: 10%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.text171,
.text172 {
  position: absolute;
  font-weight: 600;
}
.text171 {
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 28px;
}
.text172 {
  top: 17.86%;
  left: 55.56%;
  font-size: var(--text-normal-size);
  text-decoration: line-through;
  color: var(--gray-500);
}
.price6 {
  position: absolute;
  height: 12.17%;
  width: 17.61%;
  top: 26.52%;
  right: 57.5%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-33-icon4,
.imagetech14 {
  position: absolute;
  overflow: hidden;
}
.image-33-icon4 {
  height: 88%;
  width: 88%;
  top: 5.78%;
  right: 5.78%;
  bottom: 6.22%;
  left: 6.22%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imagetech14 {
  height: 91.3%;
  width: 22.83%;
  top: 3.91%;
  right: 76.41%;
  bottom: 4.78%;
  left: 0.76%;
  background-color: var(--white);
}
.dot9,
.free-shipping5 {
  position: absolute;
  top: 0;
  left: 69.77%;
}
.dot9 {
  height: 31.58%;
  width: 1.74%;
  top: 31.58%;
  right: 32.85%;
  bottom: 36.84%;
  left: 65.41%;
  border-radius: 50%;
  background-color: var(--gray-300);
}
.miscrating-icon16 {
  position: absolute;
  height: 78.95%;
  width: 23.26%;
  top: 5.26%;
  right: 76.74%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bell-ross49,
.bell-ross50 {
  position: absolute;
  top: 0;
  left: 25%;
  color: var(--base-color-orange);
}
.bell-ross50 {
  left: 39.24%;
  color: var(--gray-500);
}
.dot10 {
  position: absolute;
  height: 31.58%;
  width: 1.74%;
  top: 31.58%;
  right: 63.37%;
  bottom: 36.84%;
  left: 34.88%;
  border-radius: 50%;
  background-color: var(--gray-300);
}
.free-shipping-parent {
  position: absolute;
  height: 8.26%;
  width: 37.39%;
  top: 40.43%;
  right: 37.72%;
  bottom: 51.3%;
  left: 24.89%;
  color: var(--green);
}
.layout-2product-card-08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 920px;
  height: 230px;
}
.text174 {
  position: absolute;
  top: 17.86%;
  left: 108.43%;
  font-size: var(--text-normal-size);
  text-decoration: line-through;
  font-weight: 600;
  color: var(--gray-500);
  display: none;
}
.price7 {
  position: absolute;
  height: 12.17%;
  width: 9.02%;
  top: 26.52%;
  right: 66.09%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-23-icon5 {
  position: absolute;
  height: 89.33%;
  width: 89.33%;
  top: 5.33%;
  right: 5.33%;
  bottom: 5.33%;
  left: 5.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-32-icon5,
.layout-2product-card-081 {
  position: absolute;
  top: 240px;
  left: 0;
  width: 920px;
  height: 230px;
}
.image-32-icon5 {
  height: 86.22%;
  width: 86.22%;
  top: 6.67%;
  right: 7.11%;
  bottom: 7.11%;
  left: 6.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-34-icon7,
.layout-2product-card-082 {
  position: absolute;
  top: 480px;
  left: 0;
  width: 920px;
  height: 230px;
}
.image-34-icon7 {
  height: 71.11%;
  width: 90.22%;
  top: 14.67%;
  right: 4.89%;
  bottom: 14.22%;
  left: 4.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagetech76 {
  position: absolute;
  height: 91.3%;
  width: 22.83%;
  top: 3.91%;
  right: 76.41%;
  bottom: 4.78%;
  left: 0.76%;
  background-color: var(--white);
}
.image-35-icon8,
.layout-2product-card-083 {
  position: absolute;
  top: 720px;
  left: 0;
  width: 920px;
  height: 230px;
}
.image-35-icon8 {
  height: 86.67%;
  width: 72.44%;
  top: 6.67%;
  right: 13.78%;
  bottom: 6.67%;
  left: 13.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-86-icon4,
.layout-2product-card-084 {
  position: absolute;
  top: 960px;
  left: 0;
  width: 920px;
  height: 230px;
}
.image-86-icon4 {
  height: 96.89%;
  width: 96.89%;
  top: 1.78%;
  right: 1.33%;
  bottom: 1.33%;
  left: 1.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content,
.layout-2product-card-085 {
  position: absolute;
  top: 1200px;
  left: 0;
  width: 920px;
  height: 230px;
}
.content {
  top: 289px;
  left: 390px;
  height: 1430px;
}
.background-icon40,
.bg24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
}
.bg24 {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 920px;
  height: 62px;
}
.background-icon40 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text183 {
  position: absolute;
  top: 11px;
  left: 10px;
}
.iconcontrolexpand-more23 {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 24px;
  height: 24px;
}
.formselectbox-done2 {
  position: absolute;
  top: 11px;
  left: 652px;
  width: 172px;
  height: 40px;
}
.mobile-accessory1 {
  font-weight: 600;
}
.rectangle11,
.text184 {
  position: absolute;
  top: 22px;
  left: 19px;
}
.rectangle11 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}
.check4,
.path-icon4 {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 9px;
}
.check4 {
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
}
.form-selection-checkbox-of11 {
  position: relative;
  width: 34px;
  height: 24px;
}
.hint-text11 {
  position: relative;
}
.formchecklabel11 {
  position: absolute;
  top: 14px;
  left: 507px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.btn-group-icon2 {
  position: absolute;
  top: 11px;
  left: 834px;
  width: 76px;
  height: 40px;
}
.bg-icon65,
.content-top1 {
  position: absolute;
  top: 207px;
  left: 390px;
  width: 920px;
  height: 62px;
}
.bg-icon65 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.border13,
.layoutnavbar-alibaba-child1 {
  position: absolute;
  height: 1.79%;
  width: 100.07%;
  top: 99.11%;
  right: -0.03%;
  bottom: -0.89%;
  left: -0.03%;
  border-top: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.border13 {
  top: -0.89%;
  bottom: 99.11%;
}
.de2x-icon5,
.fitness6 {
  position: absolute;
  left: 0;
}
.fitness6 {
  top: 8.33%;
  line-height: 22px;
  font-weight: 500;
}
.de2x-icon5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imageflagsicon19 {
  position: absolute;
  height: 66.67%;
  width: 19.13%;
  top: 20.83%;
  right: 28.7%;
  bottom: 12.5%;
  left: 52.17%;
}
.iconcontrolexpand-more24 {
  position: absolute;
  height: 100%;
  width: 20.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ship-to3 {
  position: absolute;
  height: 42.86%;
  width: 7.99%;
  top: 28.57%;
  right: 8.89%;
  bottom: 28.57%;
  left: 83.13%;
}
.iconcontrolexpand-more25 {
  position: absolute;
  height: 100%;
  width: 19.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment3 {
  position: absolute;
  height: 42.86%;
  width: 8.61%;
  top: 28.57%;
  right: 19.1%;
  bottom: 28.57%;
  left: 72.29%;
}
.iconcontrolexpand-more26 {
  position: absolute;
  height: 100%;
  width: 39.34%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav18 {
  position: absolute;
  top: 4.17%;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.dropdown3 {
  position: absolute;
  height: 100%;
  width: 9.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90.16%;
}
.nav19,
.nav20,
.nav21,
.nav22,
.nav23 {
  position: absolute;
  top: 4.17%;
  left: 72.58%;
  line-height: 22px;
  font-weight: 500;
}
.nav20,
.nav21,
.nav22,
.nav23 {
  left: 57.9%;
}
.nav21,
.nav22,
.nav23 {
  left: 40.65%;
}
.nav22,
.nav23 {
  left: 23.71%;
}
.nav23 {
  left: 4.84%;
}
.iconcontrolmenu3 {
  position: absolute;
  height: 100%;
  width: 3.87%;
  top: 0;
  right: 96.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav-list3 {
  position: absolute;
  height: 42.86%;
  width: 43.06%;
  top: 28.57%;
  right: 47.92%;
  bottom: 28.57%;
  left: 9.03%;
}
.layoutnavbar-alibaba3 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1440px;
  height: 56px;
}
.vector-icon16 {
  position: relative;
  width: 21.01px;
  height: 21px;
}
.my-cart4 {
  position: absolute;
  top: 63.41%;
  left: 0;
}
.cart5,
.vector-icon17 {
  position: absolute;
  height: 100%;
  width: 19.3%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.7%;
}
.vector-icon17 {
  height: 44.12%;
  width: 51.3%;
  right: 23.07%;
  bottom: 55.88%;
  left: 25.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.orders8,
.orders9 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.orders8 {
  height: 97.56%;
  width: 17.11%;
  top: 2.44%;
  right: 27.19%;
  bottom: 0;
  left: 55.7%;
}
.vector-icon18 {
  position: relative;
  width: 20px;
  height: 20px;
}
.message8 {
  position: absolute;
  height: 97.56%;
  width: 22.81%;
  top: 2.44%;
  right: 50.88%;
  bottom: 0;
  left: 26.32%;
}
.vector-icon19 {
  position: relative;
  width: 20px;
  height: 19px;
}
.actions8,
.profile8 {
  position: absolute;
  height: 100%;
  width: 16.23%;
  top: 0;
  right: 83.77%;
  bottom: 0;
  left: 0;
}
.actions8 {
  height: 47.67%;
  width: 15.83%;
  top: 29.07%;
  right: 9.17%;
  bottom: 23.26%;
  left: 75%;
  text-align: center;
}
.search-form-child2 {
  position: absolute;
  height: 105%;
  width: 100.3%;
  top: -2.5%;
  right: -0.15%;
  bottom: -2.5%;
  left: -0.15%;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--primary);
  box-sizing: border-box;
}
.text185 {
  position: absolute;
  width: calc(100% - 15px);
  top: 11px;
  left: 10px;
  display: inline-block;
}
.iconcontrolexpand-more27 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
}
.forminput-groupinput-midle4 {
  position: absolute;
  height: 100%;
  width: 21.8%;
  top: 0;
  right: 15.04%;
  bottom: 0;
  left: 63.16%;
}
.icon09 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  display: none;
}
.forminput-groupinput-left5 {
  position: absolute;
  height: 100%;
  width: 63.31%;
  top: 0;
  right: 36.69%;
  bottom: 0;
  left: 0;
  color: var(--gray-500);
}
.text187 {
  position: relative;
  font-weight: 500;
}
.buttonbasetext-md28 {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 9px);
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonbtn-group8 {
  position: absolute;
  height: 100%;
  width: 15.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.96%;
  text-align: center;
  color: var(--white);
}
.search-form4 {
  position: absolute;
  height: 46.51%;
  width: 46.18%;
  top: 25.58%;
  right: 31.18%;
  bottom: 27.91%;
  left: 22.64%;
  font-size: var(--text-normal-size);
  color: var(--dark);
}
.brandlogo-colored-icon8 {
  position: absolute;
  height: 53.49%;
  width: 10.49%;
  top: 23.26%;
  right: 80.56%;
  bottom: 23.26%;
  left: 8.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopez8 {
  position: absolute;
  top: 33.72%;
  left: 12.01%;
  font-size: var(--title-h3-size);
  color: var(--color-black);
}
.layoutheader-alibaba4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 86px;
  font-size: var(--font-size-xs);
  color: var(--gray-500);
}
.buttonbtn-group-icon2,
.formselectbox-done3 {
  position: absolute;
  top: 1749px;
  left: 959px;
  width: 125px;
  height: 40px;
}
.buttonbtn-group-icon2 {
  top: 0;
  left: 0;
  width: 44px;
}
.buttonbtn-group-icon3,
.buttonbtn-group10,
.buttonbtn-group9 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group10,
.buttonbtn-group9 {
  left: 87px;
}
.buttonbtn-group10 {
  left: 44px;
  color: var(--gray-500);
}
.buttonbtn-group-group,
.buttonbtn-group11 {
  position: absolute;
  top: 0;
  left: 130px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group-group {
  top: 1749px;
  left: 1093px;
  width: 217px;
  text-align: center;
}
.bg25 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
}
.icon010,
.iconemail2 {
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
}
.icon010 {
  right: 9px;
  display: none;
}
.iconemail2 {
  left: 8px;
}
.text192 {
  position: absolute;
  width: calc(100% - 104px);
  top: 11px;
  left: 36px;
  display: inline-block;
}
.formiconinput4 {
  position: absolute;
  height: 100%;
  width: 69.9%;
  top: 0;
  right: 30.1%;
  bottom: 0;
  left: 0;
}
.buttonbasetext-md32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic39 {
  position: absolute;
  height: 100%;
  width: 28.06%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 71.94%;
  border-radius: var(--br-7xs);
  background: linear-gradient(180deg, #127fff, #0067ff);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}
.form2 {
  position: absolute;
  height: 35.4%;
  width: 63.53%;
  top: 64.6%;
  right: 18.15%;
  bottom: 0;
  left: 18.31%;
}
.bell-ross61,
.subscribe-on-our2 {
  position: absolute;
  letter-spacing: -0.2px;
}
.bell-ross61 {
  width: 100%;
  top: 53.85%;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.subscribe-on-our2 {
  top: 0;
  left: 28.2%;
  font-size: var(--title-h4-size);
  line-height: 28px;
  font-weight: 600;
  color: var(--dark);
}
.text194 {
  position: absolute;
  height: 46.02%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 53.98%;
  left: 0;
  text-align: center;
  color: var(--base-color-gray-800);
}
.text-form2 {
  position: absolute;
  height: 59.47%;
  width: 42.85%;
  top: 20%;
  right: 28.54%;
  bottom: 20.53%;
  left: 28.61%;
}
.layoutnewsletter-alibaba2 {
  position: absolute;
  top: 1832px;
  left: 0;
  width: 1440px;
  height: 190px;
  color: var(--gray-500);
}
.for-users4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark);
}
.login4,
.my-orders4,
.register4,
.settings4 {
  position: absolute;
  top: 23.36%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.my-orders4,
.register4,
.settings4 {
  top: 43.07%;
}
.my-orders4,
.settings4 {
  top: 62.77%;
}
.my-orders4 {
  top: 82.48%;
}
.col20 {
  position: absolute;
  height: 42.28%;
  width: 5.42%;
  top: 12.35%;
  right: 27.64%;
  bottom: 45.37%;
  left: 66.94%;
}
.brandlogo-colored-icon9 {
  position: absolute;
  height: 29.3%;
  width: 54.71%;
  top: 0;
  right: 45.65%;
  bottom: 70.7%;
  left: -0.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.best-information-about4,
.shopez9 {
  position: absolute;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.best-information-about4 {
  width: 100%;
  top: 38.85%;
  left: 0;
  display: inline-block;
}
.shopez9 {
  top: 13px;
  left: 46px;
  color: var(--color-black);
}
.group-child22 {
  position: absolute;
  height: 20.38%;
  width: 72.46%;
  top: 79.62%;
  right: 27.54%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brandlogo-colored-parent2 {
  position: absolute;
  height: 48.46%;
  width: 19.17%;
  top: 12.35%;
  right: 71.88%;
  bottom: 39.2%;
  left: 8.96%;
  color: var(--gray-600);
}
.group-child23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
}
.imageflagsicon20 {
  position: absolute;
  height: 70.83%;
  width: 22.43%;
  top: 12.5%;
  right: 77.57%;
  bottom: 16.67%;
  left: 0;
}
.english4 {
  position: absolute;
  top: 0;
  left: 28.04%;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.iconcontrolexpand-less7,
.imageflagsicon-parent2 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.iconcontrolexpand-less7 {
  width: 22.43%;
  left: 77.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imageflagsicon-parent2 {
  width: 9.1%;
  left: 90.9%;
}
.ecommerce4 {
  position: absolute;
  width: 27.21%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.payment-method-language4 {
  position: absolute;
  height: 35.29%;
  width: 81.67%;
  top: 33.82%;
  right: 9.44%;
  bottom: 30.88%;
  left: 8.89%;
}
.background8,
.rectangle-parent17 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent17 {
  height: 20.99%;
  top: 79.01%;
  text-align: right;
  color: var(--base-color-gray-800);
}
.background8 {
  height: 100%;
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--dark);
}
.subtract-icon4 {
  position: absolute;
  height: 60.34%;
  width: 82.18%;
  top: 20.69%;
  right: 9%;
  bottom: 18.97%;
  left: 8.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group8,
.logo-icon4,
.miscmarket-button8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo-icon4,
.miscmarket-button8 {
  height: 32.56%;
  top: 28.68%;
  bottom: 38.76%;
}
.logo-icon4 {
  height: 58.62%;
  width: 82.77%;
  top: 20.69%;
  right: 8.41%;
  bottom: 20.69%;
  left: 8.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.miscmarket-button9 {
  position: absolute;
  height: 32.56%;
  width: 100%;
  top: 67.44%;
  right: 0;
  bottom: 0;
  left: 0;
}
.get-app4 {
  position: absolute;
  top: 0;
  left: 0.81%;
  line-height: 22px;
  font-weight: 500;
}
.col21 {
  position: absolute;
  height: 39.81%;
  width: 8.61%;
  top: 12.35%;
  right: 12.99%;
  bottom: 47.84%;
  left: 78.4%;
  color: var(--dark);
}
.col22,
.col23,
.col24 {
  position: absolute;
  height: 42.28%;
  width: 7.5%;
  top: 12.35%;
  right: 39.38%;
  bottom: 45.37%;
  left: 53.13%;
}
.col23,
.col24 {
  width: 6.25%;
  right: 51.32%;
  left: 42.43%;
}
.col24 {
  width: 5.63%;
  right: 62.01%;
  left: 32.36%;
}
.layoutfooter-alibaba4 {
  position: absolute;
  top: 2022px;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 324px;
  color: var(--gray-500);
}
.text195 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  font-weight: 600;
}
.iconcontrolexpand-less8 {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 24px;
  height: 24px;
}
.layoutcollablse-heading7 {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 230px;
  height: 48px;
}
.formchecklabel12,
.formchecklabel13,
.formchecklabel14,
.formchecklabel15 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.formchecklabel13,
.formchecklabel14,
.formchecklabel15 {
  top: 72px;
}
.formchecklabel14,
.formchecklabel15 {
  top: 36px;
}
.formchecklabel15 {
  top: 108px;
}
.formchecklabel-parent {
  position: absolute;
  top: 48px;
  left: 0;
  width: 142px;
  height: 144px;
}
.layoutcollablse-heading-parent1,
.rectangle12 {
  position: absolute;
  top: 1044px;
  left: 2px;
  width: 230px;
  height: 192px;
}
.rectangle12 {
  top: 2px;
  left: 1px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.miscrating-icon22 {
  position: relative;
  width: 93px;
  height: 18px;
}
.formchecklabel-group {
  position: absolute;
  top: 48px;
  left: 0;
  width: 143px;
  height: 144px;
}
.layoutcollablse-heading-parent2 {
  position: absolute;
  top: 1256px;
  left: 2px;
  width: 230px;
  height: 192px;
}
.text198 {
  position: absolute;
  width: calc(100% - 11px);
  top: calc(50% - 9px);
  left: 0;
  display: inline-block;
}
.layoutnav-item7 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 229px;
  height: 36px;
  color: var(--primary);
}
.formchecklabel20,
.formchecklabel21,
.formchecklabel22,
.formchecklabel23,
.formchecklabel24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 114.5px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.formchecklabel21,
.formchecklabel22,
.formchecklabel23,
.formchecklabel24 {
  top: 72px;
  width: 101.14px;
}
.formchecklabel22,
.formchecklabel23,
.formchecklabel24 {
  top: 36px;
  width: 89.69px;
}
.formchecklabel23,
.formchecklabel24 {
  top: 108px;
  width: 93.51px;
}
.formchecklabel24 {
  top: 144px;
  width: 101.14px;
}
.layoutnav-item-container {
  position: absolute;
  top: 48px;
  left: 1px;
  width: 229px;
  height: 216px;
}
.layoutcollablse-heading-parent3,
.layoutnav-item8 {
  position: absolute;
  top: 248px;
  left: 0;
  width: 230px;
  height: 264px;
}
.layoutnav-item8 {
  top: 180px;
  width: 228px;
  height: 36px;
  color: var(--primary);
}
.formchecklabel25,
.formchecklabel26,
.formchecklabel27,
.formchecklabel28,
.formchecklabel29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 103.55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.formchecklabel26,
.formchecklabel27,
.formchecklabel28,
.formchecklabel29 {
  top: 72px;
  width: 114px;
}
.formchecklabel27,
.formchecklabel28,
.formchecklabel29 {
  top: 36px;
  width: 139.65px;
}
.formchecklabel28,
.formchecklabel29 {
  top: 108px;
  width: 138.7px;
}
.formchecklabel29 {
  top: 144px;
  width: 152px;
}
.layoutnav-item-parent1 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 228px;
  height: 216px;
}
.layoutcollablse-heading-parent4 {
  position: absolute;
  top: 532px;
  left: 2px;
  width: 230px;
  height: 264px;
}
.formrange-icon,
.label {
  position: absolute;
  left: 0;
}
.formrange-icon {
  top: -2px;
  width: 230px;
  height: 28px;
}
.label {
  width: 100%;
  top: 0;
  display: inline-block;
}
.formbaselabel-title,
.forminput-basic2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
}
.forminput-basic2 {
  top: 24px;
  height: 40px;
  color: var(--gray-400);
}
.formlabelinput,
.formlabelinput1 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 111px;
  height: 64px;
}
.formlabelinput1 {
  left: 120px;
  width: 110px;
}
.buttonbtn-basic40 {
  position: absolute;
  height: 26.32%;
  width: 99.13%;
  top: 73.68%;
  right: 0.87%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary);
}
.formrange-parent {
  position: absolute;
  top: 56px;
  left: 0;
  width: 230px;
  height: 152px;
}
.layoutcollablse-heading-parent5 {
  position: absolute;
  top: 816px;
  left: 2px;
  width: 230px;
  height: 208px;
}
.layoutnav-item10,
.layoutnav-item9 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 240px;
  height: 36px;
  color: var(--gray-600);
}
.layoutnav-item10 {
  top: 120px;
  width: 230px;
}
.layoutnav-item11,
.layoutnav-item12,
.layoutnav-item13 {
  position: absolute;
  top: 192px;
  left: 0;
  width: 230px;
  height: 36px;
  color: var(--primary);
}
.layoutnav-item12,
.layoutnav-item13 {
  top: 84px;
  color: var(--gray-600);
}
.layoutnav-item13 {
  top: 156px;
}
.sidebar1 {
  position: absolute;
  top: 208px;
  left: 132px;
  width: 240px;
  height: 1448px;
}
.clothings2,
.home2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.clothings2 {
  left: 71px;
}
.iconcontrolchevron-right7 {
  position: absolute;
  top: 2px;
  left: 45px;
  width: 20px;
  height: 20px;
}
.iconcontrolchevron-right8,
.iconcontrolchevron-right9 {
  position: absolute;
  top: 2px;
  left: 145px;
  width: 20px;
  height: 20px;
}
.iconcontrolchevron-right9 {
  left: 259px;
}
.mens-wear2,
.summer-clothing2 {
  position: absolute;
  top: 0;
  left: 171px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.summer-clothing2 {
  left: 286px;
}
.breadcrumb3,
.breadcrumb4,
.nav-breadcrumb2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 411px;
  height: 24px;
}
.breadcrumb3,
.breadcrumb4 {
  top: 20px;
  left: 133px;
}
.breadcrumb3 {
  top: 142px;
  left: 0;
  width: 1440px;
  height: 64px;
  overflow: hidden;
  color: var(--gray-500);
}
.web-listview {
  position: relative;
  background-color: var(--gray-100);
  width: 100%;
  height: 2346px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-normal-size);
  color: var(--dark);
  font-family: var(--text-normal);
}
